Source: ros-kinetic-pepper-dcm-bringup
Section: misc
Priority: extra
Maintainer: Natalia Lyubova <natalia.lyubova@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/pepper_dcm_bringup
Standards-Version: 3.9.2

Package: ros-kinetic-pepper-dcm-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-naoqi-dcm-driver, ros-kinetic-pepper-control, ros-kinetic-rospy
Description: Bring-up the dcm driver to control Pepper
